<%= render :partial => 'procedure/intro', :object => @procedure %>

<div class="reading-width">

	<%= list_item_count_sentence( 'route', @routes.size ) %>

	<%= render :partial => 'library_design/feeds/feeds' %>

	<ol class="unnumbered">
		<%= render :partial => 'route', :collection => @routes %>
	</ol>

	<%= render :partial => 'common/identifier', :object => @procedure %>
</div>