<div class="reading-width">
	<%= work_package_description_with_work_packageable_thing_and_markup( @work_package ) %>
	
	<%= render :partial => 'work_package/nav' %>
	
	<%= render :partial => 'source_links', :object => @work_package if @work_package.work_packageable_thing_link %>
	
	<% if @documents.empty? -%>
		<%= content_tag( 'p', 'No documents are yet available.' ) %>
	<% else -%>
		<%= list_item_count_sentence( 'document', @documents.size ) %>
		<%= render :partial => 'library_design/feeds/feeds' %>
		<%= render :partial => 'document', :collection => @documents %>
	<% end -%>

	<%= render :partial => 'common/identifier', :object => @work_package %>
</div>