<%= render :partial => 'house/intro', :object => @house %>

<%= list_item_count_sentence( 'step', @steps.size ) %>
	
<%= render :partial => 'library_design/feeds/feeds' %>

<%= content_tag( 'p', 'Steps listed are limited to those steps appearing in the work packages described or with the potential to appear in those work packages.' ) %>

<% unless @steps.empty? -%>
	<table class="table">
		<%= render :partial => 'step/step_list_table_head' %>
		<tbody>
			<%= render :partial => 'step/step_list_table_row', :collection => @steps %>
		</tbody>
	</table>
<% end -%>

<%= render :partial => 'common/identifier', :object => @house %>