<p class="subnav">
	<%= link_to( 'Overview', step_show_url, :class => 'overview' ) %>
	<% if nav.step_type_id == 'Jwc6nqJi' -%>
		<%= link_to( 'Events', step_event_list_url, :class => 'events' ) %>
		<%= link_to( 'Step collections', step_step_collection_list_url, :class => 'step-collections' ) %>
		<%= link_to( 'Procedures with step depths', step_procedure_with_step_depth_list_url, :class => 'step-procedures-with-step-depth' ) %>
	<% end -%>
	<%= link_to( 'Procedures', step_procedure_list_url, :class => 'step-procedures' ) %>
</p>