<p class="subnav">
	<%= link_to( 'Work packages before Parliament', work_package_current_list_url, :class => 'current' ) %>
	<%= link_to( 'All work packages', work_package_list_url, :class => 'all' ) %>
	<%= link_to( 'Primary legislation work packages', work_package_primary_legislation_list_url, :class => 'primary-legislation' ) %>
	<%= link_to( 'Secondary legislation work packages', work_package_secondary_legislation_list_url, :class => 'secondary-legislation' ) %>
	<%= link_to( 'Treaty work packages', work_package_treaty_list_url, :class => 'treaty' ) %>
</p>