<nav id="header-nav">
	<%= link_to( 'Work packages', work_package_current_list_url, :class => 'work-packages' )  %>
	<%= link_to( 'Procedures', procedure_main_list_url, :class => 'procedures' )  %>
	<%= link_to( 'Enabling legislation', enabling_legislation_list_url, :class => 'enabling-legislation' )  %>
	<%= link_to( 'Organisations accountable to Parliament', organisation_accountable_to_parliament_current_list_url, :class => 'organisations-accountable-to-parliament' )  %>
	<%= link_to( 'Calculation styles', calculation_style_list_url, :class => 'calculation-styles uk-parliament-procedure-browser-librarian-only' )  %>
	<%= link_to( 'Steps', step_type_show_url( :step_type => 'Jwc6nqJi' ), :class => 'steps' )  %>
	<%= link_to( 'Step collections', step_collection_list_url, :class => 'step-collections' )  %>
	<%= link_to( 'Routes', route_list_url, :class => 'routes uk-parliament-procedure-browser-librarian-only' )  %>
	<%= link_to( 'Clocks', clock_list_url, :class => 'clocks uk-parliament-procedure-browser-librarian-only' )  %>
	<%= link_to( 'Legislatures', legislature_list_url, :class => 'legislatures' )  %>
</nav>