<nav id="header-nav">
	<%= link_to( 'Work packageable things', work_packageable_thing_list_url, :class => 'work-packageable-things' )  %>
	<%= link_to( 'Work packages', work_package_list_url, :class => 'work-packages' )  %>
	<%= link_to( 'Procedures', procedure_list_url, :class => 'procedures' )  %>
	<%= link_to( 'Calculation styles', calculation_style_list_url, :class => 'calculation-styles' )  %>
	<%= link_to( 'Steps', step_type_list_url, :class => 'steps' )  %>
	<%= link_to( 'Step collections', step_collection_list_url, :class => 'step-collections' )  %>
	<%= link_to( 'Routes', route_list_url, :class => 'routes' )  %>
	<%= link_to( 'Clocks', clock_list_url, :class => 'clocks' )  %>
	<%= link_to( 'Legislatures', legislature_list_url, :class => 'legislatures' )  %>
	<%= link_to( 'Houses', house_list_url, :class => 'houses' )  %>
</nav>