<%= render :partial => 'step/intro', :object => @step %>

<div class="reading-width">

	<%= list_item_count_sentence( 'route', @routes.size ) %>
	
	<%= render :partial => 'library_design/feeds/feeds' %>

	<% unless @routes.empty? -%>
		<ol class="unnumbered">
			<%= render :partial => 'route', :collection => @routes %>
		</ol>
	<% end -%>

	<%= render :partial => 'common/identifier', :object => @step %>
</div>