<p class="subnav">
	<%= link_to( 'Overview', procedure_show_url, :class => 'overview' ) %>
	<%= link_to( 'Step types', procedure_step_type_list_url, :class => 'step-types' ) %>
	<%= link_to( 'Steps', procedure_step_list_url, :class => 'steps' ) %>
	<%= link_to( 'Routes', procedure_route_list_url, :class => 'routes' ) %>
	<%= link_to( 'Clocks', procedure_clock_list_url, :class => 'clocks' ) %>
</p>