<p class="subnav">
	<%= link_to( 'Work packages before Parliament', procedure_show_url, :class => 'work-packages-current' ) %>
	<%= link_to( 'All work packages', procedure_work_package_list_url, :class => 'work-packages' ) %>
	<%= link_to( 'Calculation styles', procedure_calculation_style_list_url, :class => 'calculation-styles uk-parliament-procedure-browser-librarian-only' ) %>
	<%= link_to( 'Steps', procedure_step_type_show_url( :step_type => 'Jwc6nqJi' ), :class => 'steps' ) %>
	<%= link_to( 'Steps with depths', procedure_step_with_depth_list_url, :class => 'steps-with-depths uk-parliament-procedure-browser-librarian-only' ) %>
	<%= link_to( 'Routes', procedure_route_list_url, :class => 'routes uk-parliament-procedure-browser-librarian-only' ) %>
	<%= link_to( 'Route checker', procedure_route_checker_url, :class => 'route-checker uk-parliament-procedure-browser-librarian-only' ) %>
	<%= link_to( 'Clocks', procedure_clock_list_url, :class => 'clocks uk-parliament-procedure-browser-librarian-only' ) %>
	<%= link_to( 'Step collections', procedure_step_collection_list_url, :class => 'step-collections uk-parliament-procedure-browser-librarian-only' ) %>
</p>