<li id="event-<%= day.id %>-actualising-<%= day.step_id %>" class="day">
	<p><%= day.date.strftime( $DATE_DISPLAY_FORMAT ) %>
	<p><%= step_label_with_linked_houses_and_legislatures( day ) %>
	<p><%= link_to( 'link', day.link ) %>
</li>