<% if day_iteration.index == 0 -%>
	<li>
		<%= render :partial => 'work_package_events/day_header', :object => day %>
		<ol>
			<%= render :partial => 'work_package_events/event', :object => day %>
<% elsif day.date != work_packages[day_iteration.index - 1].date -%>
		</ol>
	</li>
	<li>
		<%= render :partial => 'work_package_events/day_header', :object => day %>
		<ol>
			<%= render :partial => 'work_package_events/event', :object => day %>
<% elsif day_iteration.index + 1 == work_packages.size -%>
			<%= render :partial => 'work_package_events/event', :object => day %>
		</li>
	</ol>
<% else -%>
			<%= render :partial => 'work_package_events/event', :object => day %>
<% end -%>


