<%= render :partial => 'step_collection/intro', :object => @step_collection %>

<div class="reading-width">
	<%= list_item_count_sentence( 'step', @steps.size ) %>
	
	<%= render :partial => 'library_design/feeds/feeds' %>

	<% unless @steps.empty? %>

		<%= content_tag( 'p', 'A step forms part of a procedure to which a work package may be subject.' ) %>
	
		<ol class="unnumbered link-list">
			<%= render :partial => 'step/step', :collection => @steps %>
		</ol>
	<% end -%>

	<%= render :partial => 'common/identifier', :object => @step_collection %>
</div>