<footer>
	<div class="container">
        <div class="row">
			<%= content_tag( 'p', "&copy; House of Commons #{Date.today.year}. Re-use our content freely and flexibly with only a few conditions under the #{link_to( 'Open Parliament Licence', 'https://www.parliament.uk/site-information/copyright-parliament/open-parliament-licence/', :rel => 'license' ) }.".html_safe ) %>
			<p>
				<%= link_to( 'Procedure model', 'https://ukparliament.github.io/ontologies/procedure/procedure-ontology' )  %>
				-
				<%= link_to( 'Procedure maps', 'https://ukparliament.github.io/ontologies/procedure/maps/' )  %>
				-
				<%= link_to( 'Design notes', 'https://ukparliament.github.io/ontologies/procedure/maps/meta/design-notes/' )  %>
				-
				<%= link_to( 'SPARQL endpoint', 'https://api.parliament.uk/sparql' )  %>
				-
				<%= link_to( 'Egg timer', 'https://api.parliament.uk/egg-timer' )  %>
			</p>
			<p>
				<%= link_to( 'Sitemap', meta_sitemap_url )  %>:
				<%= link_to( 'Work packageable things', work_packageable_thing_list_url )  %>
				-
				<%= link_to( 'Enabling legislation', enabling_legislation_list_url )  %>
				-
				<%= link_to( 'Organisations accountable to Parliament', organisation_accountable_to_parliament_list_url )  %>
				-
				<%= link_to( 'Work packages', work_package_list_url )  %>
				-
				<%= link_to( 'Procedures', procedure_list_url )  %>
				-
				<%= link_to( 'Calculation styles', calculation_style_list_url )  %>
				-
				<%= link_to( 'Step types', step_type_list_url )  %>
				-
				<%= link_to( 'Steps', step_list_url )  %>
				-
				<%= link_to( 'Step collections', step_collection_list_url )  %>
				-
				<%= link_to( 'Routes', route_list_url )  %>
				-
				<%= link_to( 'Clocks', clock_list_url )  %>
				-
				<%= link_to( 'Legislatures', legislature_list_url )  %>
				-
				<%= link_to( 'Houses', house_list_url )  %>
			</p>
		</div>
	</div>
</footer>
